.questions__head {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 0.2px;
    line-height: 29px;
    text-align: center;
    margin-top: 71px;
    margin-bottom: 31px;
}

.questions__desc {
    color: #1D1C1C;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.29px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 41px;
}

.nav__list {
    text-align: center;
}

.questions .nav__link {
    text-align: center;
    padding: 4px 8px;
}

.questions .nav__link--active {
    border: 1px solid #C2C3C6;
    border-radius: 100px;
    background-color: #8DC33E;
    color: #FFFFFF;
}

.questions__block {
    padding: 0 240px;
}

.block__item {
    margin-bottom: 15px;
}

.block__question {
    background-color: #F4F4F4;
    padding: 20px 35px;
}

.block__answer {
    border: 1px solid #F4F4F4;
    padding: 25px 35px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 0.33px;
    line-height: 20px;
}

.block__answer p {
    margin-bottom: 10px;
}

.block__answer:last-child {
    margin-bottom: 0;
}

.questions__contacts {
    color: #1D1C1C;
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 0.29px;
    line-height: 30px;
    text-align: center;
    padding: 0 355px;
}

.questions__contacts a{
    font-weight: bold;
    color: #1D1C1C;
    text-decoration: none;

}