html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
.header{
    height: 50px;
    display: flex;  
    margin:  25px 50px;
    justify-content: space-between;    
}
.header__logo{
    background-image: url('../img/header-logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 196px;
    height: 40px;
    margin-right: 40px;
}
.nav__list{
    padding: 20px;
}
.nav__list--footer{ 
    padding-bottom: 20px;
}
.nav__item{
    display: inline-block;    
}
.nav__link{
    text-decoration: none;
    color: #1D1C1C; 
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
    line-height: 17px;

}
.header .nav__link{
    margin-right: 30px;
}
.nav__link--footer{
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;	
    letter-spacing: 0.31px;	
    line-height: 19px;
    margin-right: 25px;
}

.nav__link--border{
    padding-right: 20px;
    border-right: 1px solid #979797;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.22px;
    color: #1D1C1C
}
.nav__link--left{
    padding-left: 20px;
    margin-right: 0 !important;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5;
    color: #000000;
    letter-spacing: 0.22px;
}
.nav .nav__list .nav__item:last-child > a{
    margin-right: 40px;
}
.header__right, .header__left{
    display: flex;    
}
.question-button{
    display: inline-block;
    height: 50px;	
    width: 180px;
}
.button__green{
    display: inline-block;
    height: 50px;	
    width: 180px;	
    border-radius: 4px;	
    background-color: #8DC33E;
    color: #FFFFFF;	
    font-family: Roboto;	
    font-size: 15px;	
    font-weight: bold;	
    letter-spacing: 0.2px;	
    line-height: 47px;	
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.intro{
    height: 450px;
}